<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Career</h2>
                <h3 class="section-subheading text-muted">Software Developer and Researcher</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <!-- Education Entry -->
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/education.jpg" style="width: 156px; height: 156px; object-fit: cover;" alt="Education Image">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2016 - 2018</h4>
                                <h4 class="subheading">Master Degree Computer Science</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">CIn - UFPE (Universidade Federal de Pernambuco)</p>
                            </div>
                        </div>
                    </li>
                    <!-- Experience Entries -->
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/pmt.jpg" style="width: 156px; height: 156px; object-fit: cover;" alt="Trybe Image">
                            
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Jan 2021 - Sep 2023</h4>
                                <h4 class="subheading">Director IT, PMT</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">As IT Director at the Prefeitura de Tacaratu, I led the strategy and execution of IT initiatives, ensuring alignment with organizational objectives and municipal regulations.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/trybe.jpg" style="width: 156px; height: 156px; object-fit: cover;" alt="Trybe Image">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Oct 2021 - Jun 2023</h4>
                                <h4 class="subheading">Computer Science Instructor, Trybe</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">I conducted technical mentoring in Django and Django REST Framework, teaching software documentation practices and collaborating to update teaching material.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/unirios.jpg" style="width: 156px; height: 156px; object-fit: cover;" alt="Trybe Image">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Feb 2020 - Jan 2022</h4>
                                <h4 class="subheading">Professor, UniRios</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At Centro Universitário UniRios, as a Computing Professor, I had the privilege of cultivating future IT professionals' curiosity and technical knowledge.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/unisaomiguel.jpg" style="width: 156px; height: 156px; object-fit: cover;" alt="Trybe Image">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Feb 2020 - Jan 2022</h4>
                                <h4 class="subheading">Professor, UniSãoMiguel</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">At UniSãoMiguel, as a Computing Professor, I had the privilege of cultivating future IT professionals' curiosity and technical knowledge.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/certifications.jpg" style="width: 156px; height: 156px; object-fit: cover;" alt="Certifications Image">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Certifications</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Introduction to Amazon Web Services: Core Services <br />
                                    Introduction to Amazon Web Services: Cloud Computing <br />
                                    Python for Data Science <br />
                                    Advanced Python Techniques <br />
                                    Programming Fundamentals <br />
                                    ICSI | CNSS Certified Network Security Specialist <br />
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
