<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">With a Master's degree in Computer Science with a focus on Performance Evaluation and Reliability from the Federal University of Pernambuco, Ronierison offers expertise in analyzing and interpreting complex data sets to drive decision-making and optimize operational efficiency.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Data Analysis</h4>
                    <p class="text-muted">In a world driven by data, harnessing the power of information to drive decision-making and innovation is crucial. Ronierison Maciel, with a rich academic and professional background at the crossroads of education and technology, offers specialized data science services that empower individuals and organizations with critical technological skills, enhancing technological innovation wherever he integrates.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Training and Mentorship</h4>
                    <p class="text-muted">Leveraging his extensive experience as a Computing Instructor at Trybe and a Professor at notable institutions like UniSãoMiguel and UniRios, Ronierison provides training programs in essential technologies like Java, Python, and various frameworks. His training services are designed to equip the next generation of IT professionals with the skills necessary to excel in the field of data science.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Cloud Computing</h4>
                    <p class="text-muted">Ronierison's certifications in Amazon Web Services (AWS) lay the foundation for offering services in cloud computing, enabling organizations to leverage the cloud for data storage, processing, and analysis.</p>
                </div>
                <!-- <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">IT Strategy and Security</h4>
                    <p class="text-muted">As a former Director of IT at the Municipal Government of Tacaratu, Ronierison is well-versed in aligning IT strategies with organizational objectives and implementing robust information security policies to ensure data integrity and confidentiality.</p>
                </div> -->
            </div>
        </div>
    </section>
